<div class="container-fluid" *ngIf="room">
    <h2>{{room.name}}</h2>
    <p class="text-secondary">Ultimo aggiornamento: {{lastUpdateAsString}}</p>
    
    <hr class="divider"/>
    <div class="container-fluid">
        <div class="container">
            <p class="text-center">Filtra i dati</p>
            <div class="row justify-content-center align-items-end">
                <div class="col-sm">
                    <label for="startDate" class="form-label">A partire da</label>
                    <input #startDate id="startDate" type="datetime-local" class="form-control" [max]="todayAsString">
                </div>
                <div class="col-sm">
                    <label for="endDate" class="form-label">Fino a</label>
                    <input #endDate id="endDate" type="datetime-local" class="form-control" [max]="todayAsString">
                </div>
                <div class="col-sm-auto">
                    <button type="button" class="btn btn-outline-primary" (click)="applyFilter()">Applica filtro</button>
                </div>
                <div class="col-sm-auto">
                    <button type="button" class="btn btn-outline-danger" (click)="resetFilter()" [disabled]="!canResetFilter">Pulisci</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-auto">
                <room-temperature-chart #temperatureChart [id]="room.id"></room-temperature-chart>
            </div>
            <div class="col-sm-auto">
                <room-humidity-chart #humidityChart [id]="room.id"></room-humidity-chart>
            </div>
            <div class="col-sm-auto">
                <room-lux-chart #luxChart [id]="room.id"></room-lux-chart>
            </div>
            <div class="col-sm-auto">
                <room-voc-chart #vocChart [id]="room.id"></room-voc-chart>
            </div>
        </div>
    </div>
    
    <br>
    <br>

    <div class="container-fluid" *ngFor="let bed of room.beds">
        <inmate-summary [inmate]="bed.inmate"></inmate-summary>
        <br>
    </div>
</div>