@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    margin-top: 60px; //Due to avoid navbar overlaps content
}

.room-chart {
    width: 400px; 
    height: 300px;
}

.inmate-chart {
    width: 600px; 
    height: 300px;
}

.vital-sign-card {
    min-width: 15rem;
    max-width: 17rem;
}