@import '~bootstrap/dist/css/bootstrap.min.css';

.room-chart {
    width: 400px; 
    height: 300px;
}

.inmate-chart {
    width: 550px; 
    height: 350px;
}

.vital-sign-card {
    min-width: 18rem;
    max-width: 22rem;
    height: 7rem;
}

.vital-sign-card-icon {
    width: 60px;
    height: 60px;
}

.chart-icon {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
}