@import '~bootstrap/dist/css/bootstrap.min.css';

.room-chart {
    width: 400px; 
    height: 300px;
}

.inmate-chart {
    width: 550px; 
    height: 350px;
}

.vital-sign-card {
    min-width: 15rem;
    max-width: 17rem;
    height: 7rem;
}