<div class="card" style="width: auto;">
    <div class="card-body">
        <div *ngIf="latest">
            <div class="row no-gutters align-items-center">
                <div class="col-sm-auto">
                    <img class="card-img chart-icon" src="/assets/images/voc.png">
                </div>
                <div class="col-sm-auto">
                    <h5>Qualità dell'aria</h5>
                    <h4>{{latest}} mg/m<sup>3</sup></h4> 
                </div>
            </div>
        </div>
        <div echarts *ngIf="chartOptions" [options]="chartOptions" class="room-chart"></div>
        <p *ngIf="!chartOptions" class="text-secondary text-center">Non ci sono dati da mostrare</p>
    </div>
</div>