<div class="container-fluid" *ngIf="inmate">
    <h4>{{inmate.name}} {{inmate.surname}}</h4>
    <p>{{inmate.cf}}</p>
    <p>{{inmate.birthDate}}</p>
    <hr class="divider"/>
    <br>
    
    <div>
        <div class="row">
            <div class="col">
                <inmate-temperature-chart [id]="inmate.id"></inmate-temperature-chart>
            </div>
            <div class="col">
                <inmate-bpm-chart [id]="inmate.id"></inmate-bpm-chart>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <inmate-oxygenation-chart [id]="inmate.id"></inmate-oxygenation-chart>
            </div>
            <div class="col">
                <inmate-pressure-chart [id]="inmate.id"></inmate-pressure-chart>
            </div>
        </div>
    </div>  
</div>
